/* app.css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #333;
}

/* Adicione essas regras */
.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: 60px;
}

.maincontent {
  margin-left: 250px; /* Largura da sidebar */
  padding: 30px;
  flex-grow: 1;
  overflow-y: auto;
<<<<<<< HEAD
}
=======
  height: 100vh;
}
>>>>>>> 79055b1c4dc02668ee3f7a7596d5f4d737d4c3de
