/* app.css */
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body, html {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #fff;
  color: #333;
  
}

.app {
  max-width: 600px;
  margin: 0 auto 300px;
  background-color: #efefef;
  padding: 20px 30px;
  border-radius: 10px;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

p {
  margin: 10px 0;
}

input {
  box-sizing: border-box;
}

/* Adicione essas regras */
.container {
  display: flex;
  flex-direction: row;
  height: 100%;
  margin-top: 60px;
}

.maincontent {
  margin-left: 250px; /* Largura da sidebar */
  padding: 20px;
  flex-grow: 1;
  overflow-y: auto;
}
